#addingnotediv{
  width: 25%;
 margin: auto;
  border: 2px solid navy;
  padding: 0.7vw;
  border-radius: 1vw;
  background-color: aliceblue;
  display: flex;
  margin-bottom: 2%;
  margin-top: 2%;
}

#newnotesTitle{
  font-size: larger;
  font-weight: bolder;
  margin-top: -1%;
  margin-bottom: -0.3%;
}
#textArea1{
  border-radius: 0.5vw;
  margin-top: -5%;
}
h5{
  margin-top: 1%;
}
.A{
margin-top: -20px;

}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
